body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
img{
  height: 40px;
  border-radius: 100%;
}
/* wrap sinista */
.wrap {
  width: 80%;
  height: 95%;
  margin: auto;
  display: flex;
}
.wrap-utenti{
  width: 30%;
  height: 100%;
  background-color: green;
}
.wrap-conversazioni {
  width: 70%;
  height: 100%;
  background-color: blue;
}
.header-utenti {
  height: 10%;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}
.header-utenti img {
  padding-left: 10px;
}
.icons-header-utenti i {
  color: lightgrey;
  font-size: 1.2em;
  padding: 0 5px;
}
