body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #D7DBD6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
img{
  height: 40px;
  border-radius: 100%;
}
/* wrap sinista */
.wrap {
  width: 80%;
  height: 95%;
  margin: auto;
  display: flex;
}
.wrap-utenti{
  width: 30%;
  height: 100%;
}

.wrap-conversazioni {
  width: 70%;
  height: 100%;
  background-color: white;
}

.header-utenti {
  height: 80px;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  background-color: #EAEAEA;
}
.header-utenti img {
  padding-left: 10px;
}
.icons-header-utenti i {
  color: lightgrey;
  font-size: 1.2em;
  padding: 0 5px;

}
/* header menu utenti */
/* notifiche */
.notifiche-header-utenti {
  width: 100%;
  height: 80px;
  background-color: #8EDAFC;
  align-items: center;
}
.notifiche-header-utenti i {
  color: white;
  font-size: 1.5em;
  padding-left: 10px;
}

/* /HEADER UTENTI */
/* search */
.div-search {

  width: 100%;
  position: relative;
  margin: 5px 5px;
}
 .div-search i {
   position: absolute;
   color: lightgrey;
   top:5px;
   left: 5px;
 }
.cerca-utente {
  width: 95%;
  ;
}
/* /search */
/* lista utenti */
.wrap-lista-utenti {
  width: 90%;
  margin: auto;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px;
}
.wrap-menu-utenti {
  width: 100%;
  height: 100%;
}

.lista-utenti {
  list-style: none;
  width: 90%;
  margin: auto;
  background-color: white;
}

.lista-utenti li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  position: relative;
  margin-left: 0;
  border: 1px solid lightgrey;
}
.lista-utenti li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
/* lista utenti */
/* wrap messaggi */
.header-conversazioni{
  width: 100%;
  height: 80px;
  background-color: #EAEAEA;
  border-left:1px solid black;
  align-items: center;
  justify-content: space-between;
}
.icons-header-comversazioni i {
  color: lightgrey;
  padding: 0 5px;
  font-size: 1.2em;
}
.conversazione {
  width: 98%;
  height:calc(100% - 160px);
  background-image: url(../img/8fbacbd464e996966eb9d4a6b7a9c21e--sultan.jpg);
  position: relative;
  flex-direction: column;
}
.contenitore-messaggio {
  width: 90%;
  margin:auto;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  padding: 0 5px;
}
.messaggio-inviato {
  background-color: #D5F9BA;
  border-radius: 10px;
  position: relative;
  bottom:  0;
  width: 50%;
}

/* }scrittura messaggi */
.scrittura-messaggi {
  background-color: #F3EEEA;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}
.scrittura-messaggi  input {
  border: 2px solid #8EDAFC;
  width: 80%;
  height: 80%;
}
.scrittura-messaggi i {
  color: lightgrey;
  font-size: 1.8em;
}
.scrittura-messaggi i:hover {
  cursor: pointer;
}
