body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.wrap {
  width: 80%;
  height: 95%;
  margin: auto;
  display: flex;
}
.wrap-utenti{
  width: 30%;
  height: 100%;
  background-color: green;
}
.wrap-conversazioni {
  width: 70%;
  height: 100%;
  background-color: blue;
}
